
h1{
	font-family:Cambria,Lucida Bright,GaramondPerpetua;
	color: #581845  ;
	font-weight: bold;

}

body{
	text-align: center;
	background-color:  #FFC300;
}

ul{
	display: table;
    margin: 0 auto;
    text-align: left;
    font-family: Helvetica;
    color:  #33312c ;
    font-weight:bold;
    line-height:30px;

	
}

